html {
    background-color: #f3f3f3;
    font-family: Roboto, Arial, sans-serif;
}

body {
    margin: 0;
}

li {
    line-height: 1.75;
}

.content {
    margin: 20px;
}

.org-unit-dialog-selector > .MuiPaper-root {
    width: 100% !important;
}

/* Styling legacy switch Filter OR/AND filter when state is disabled */
.control-switch .MuiSwitch-switchBase.Mui-disabled,
.control-switch .MuiSwitch-switchBase.Mui-disabled + .MuiSwitch-track {
    cursor: not-allowed;
}

.tab-content {
    padding: 1em;
}

.sticky-actions {
    position: sticky;
    inset-inline-end: 0;
    inset-block-start: 0;
    z-index: 1;
}
